<!DOCTYPE html>
<html lang="pl">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <link rel="stylesheet" href="/style.css">
    <title>Home</title>
     <link rel="icon" type="image/png" sizes="16x16" href="/favicon-32x32.png">
</head>
<body>
   <nav class="navbar navbar-expand-lg navbar-dark static-top">
  <div class="container">
      
    <a class="navbar-brand" href="#">
        <img src="/logo.jpg" alt="Logo">
    </a>
     <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
     </button>
    <div class="collapse navbar-collapse" id="navbarResponsive">
      <ul class="navbar-nav ml-auto">                      
            <button class="btn btn-info" type="button" id="srodek"><li><a href="/">Home</a></li></button>
            <button class="btn btn-info" type="button" ><li><a href="/login">Logowanie</a></li></button>
            <button class="btn btn-info" type="button"><li><a href="/register">Rejesracja</a></li></button>
      </ul>
    </div>
  </div>
</nav>

    <div class="container mt-4">
        <div class="jumbotron">
            <h1 class="display-4">Twój Kalkulator</h1>
            <p class="lead">Strona po zalogowaniu umowżliwia użytkownikowi korzystanie z pełni funkcji dostępnych po przekierowaniu </p>
            <hr class="my-4" id="f1">
            <p>Funkcje po zalogowaniu:</p>
            <div class="row">

             <div class="col-lg-3" id="one">    
                <div class="transbox">
                    <p> <h2>Home </h2></p>
                </div>  
             </div>

             <div class="col-lg-3" id="two">
                 <div class="transbox">
                    <p> <h2>Oblicz sam </h2></p>
                </div>
             </div>

             <div class="col-lg-3" id="three">
                 <div class="transbox">
                    <p> <h2>Wzory</h2></p>
                </div>
             </div>

             <div class="col-lg-3" id="four">
                  <div class="transbox">
                    <p> <h2>Kalkulator</h2></p>
                </div>
             </div>
             
            <a class="btn btn-primary btn-lg" href="/login" role="button">Dowiedz się więcej</a>
            </div>
        </div>
    </div>
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
</body>
</html>