body{
    background-image: url("/img2.jpg");
  /* You must set a specified height */
  background-position: center; /* Center the image */
  background-size: cover; /* Resize the background image to cover the entire container */

}



nav h1{
    text-shadow: 0 0 10px #FFFFFF, 2px 2px 2px rgba(206,89,55,0);

    color:rgb(255, 209, 5);
}
nav {
    
    font-family: Georgia, serif;
    background: rgb(39, 172, 206);
    color: #fff;
    padding: 20px 60px;
    display: flex;
    justify-content: space-between;
}


nav ul {
    -webkit-box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -3px 5px 15px 5px rgba(0,0,0,0); 
box-shadow: 5px 5px 15px 5px #FF8080, -9px 5px 15px 5px #FFE488, -7px -5px 15px 5px #8CFF85, 12px -5px 15px 5px #80C7FF, 12px 10px 15px 7px #E488FF, -10px 10px 15px 7px #FF616B, -10px -7px 27px 1px #8E5CFF, -3px 5px 15px 5px rgba(0,0,0,0);
    height: 60px;
    display: flex;
   
}

nav li {
    list-style: none;
}

nav li a {
    color: #fff;
    text-decoration: none;
    font-weight: bold;
    padding: 5px 8px;
}

nav li a:hover {
    color: yellow;
    text-decoration: none;
}

.navbar-brand {
    width:150px;
    font-size: 24px;
  }
  .navbar-brand img {
    height: 80px;
    width: 100px;
    /* put value of image height as your need */
  }

  
  .card{
    margin-top: 60px;
  }

  #one {
   
    height:180px;
    background-image: url("/one.jpg");
    background-position: center; 
    background-size: cover; 
 
    border:  #00a2ff;
    border-width: 0.1px;
    border-style: solid;
  }

  #two {
    height:180px;
    background-image: url("/two.jpg");
    background-position: center; 
    background-size: cover; 
    border:  #00a2ff;
    border-width: 0.1px;
    border-style: solid;
  }
  #three {
    height:180px;
    background-image: url("/three.jpg");
    background-position: center; 
    background-size: cover; 
    border:  #00a2ff;
    border-width: 0.1px;
    border-style: solid;
  }
  #four {
    height:180px;
    background-image: url("/four.jpg"); 
    background-position: center; 
    background-size: cover; 
    border:  #00a2ff;
    border-width: 0.1px;
    border-style: solid;
  }
  
  div.transbox {
    position: relative;
    background-color: #ffffff;
    
    opacity: 0.8;
    text-align: center;
  }
  
  div.transbox p {
    margin: 10%;
    font-weight: bold;
    color: #e9bc40;
  }